.sectionmovies{
    width:60%;
    display: grid;
    grid-auto-flow: column;
    gap:5em;
    margin: auto;
    padding: 2em;
    justify-content: center;
}

.left_img{
    width: 30em;
    border-radius: 1em;
}

.left_img img{
    object-fit: cover;
    width: 30em;
    border-radius: 1em;
    transition: all 1s;
    object-position: 50% 50%;
}

.left_img img:hover{
    object-fit: cover;
    width: 32em;
    border-radius: 1em;
    transition: all 1s;
    object-position: 50% 50%;
}

.left{
    width: auto;
}
.right{
    color: var(--third-bg-color);
    padding: 1em;
}

.right h1{
    font-family: var(--main-font-ubuntu);
    font-size: 32pt;
    font-weight: 700;
}

.right h2{
    font-family: var(--main-font-lato);
    font-size: 18pt;
    font-weight: 400;
    color:#fe8f00;
}

.right p{
    font-family: var(--main-font-lato);
    font-size: 16pt;
    font-weight: 300;
}

.popularity{
    color:white;
    background-color: var(--second-bg-color);
    padding:0.5em;
    border-radius: 0.5em;
    width:45%;
    text-align: center;
}

.right button{
    width: 10vh;
    height:4em;
    border-radius: 2em;
    border: none;
    font-family: var(--main-font-lato);
    background-color: var(--second-bg-color);
    color:white;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.5s;
}

.right button:hover{
    font-family: var(--main-font-ubuntu);
    background-color: var(--third-bg-color);
    transition: all 0.5s;
}