section{
    width: 100%;
    display: flex;
    gap:1em;
    margin: auto;
    padding: 2em;
    align-items:start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.card{
    margin-top: 1em;
    border-radius: 1em;
    width: 24em;
    height: 30em;
    z-index: 1;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--second-bg-color);
    vertical-align: top;
}

.descricao{
    background-color: var(--second-bg-color);
    border-radius: 0 0 1em 1em;
    padding: 1em;
}

.card:hover{
    border-radius: 1em;
    box-shadow: 10px 5px 5px rgb(195, 195, 195);
    width: 24em;
    z-index: 1;
    background-color: var(--third-bg-color);
    transition: all 0.5s;

}

.card img{
    position: relative;
    width:24em;
    height:16em;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
    transition: all 1s;
/*     object-position: 20px 10px; /* try 20% 10% */
}

.card img:hover{
    //transform: translateY(-10px);
    object-position: 0px 0.15em; /* try 20% 10% */
    transition: all 1s;
}

.card button{
    width: 10vh;
    height:4em;
    border-radius: 2em;
    border: none;
    font-family: var(--main-font-ubuntu);
    background-color: var(--third-bg-color);
    color:white;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.5s;
}

.card button:hover{
    font-family: var(--main-font-ubuntu);
    background-color: var(--main-bg-color);
    transition: all 0.5s;
}

.card h2{
    color:#fe8f00;
}
