.custom-shape-divider-top-1679948559 {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679948559 svg {
    position: relative;
    display: block;
    width: calc(220% + 1.5px);
    height: 20em;
}

.custom-shape-divider-top-1679948559 .shape-fill {
    fill: #fff;
}

footer{
    background-color: var(--main-bg-color);
}