@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Ubuntu:wght@700&display=swap');

@import "./components/Card/index.scss";
@import "./components/Footer/index.scss";
@import "./components/Header/index.scss";
@import "./pages/Home/index.scss";
@import "./pages/Moviedetail/index.scss";

:root{
    --main-font-lato: 'Lato', sans-serif;
    --main-font-ubuntu: 'Ubuntu', sans-serif;
    --main-bg-color: #083D48;
    --second-bg-color: #081F2E;
    --third-bg-color: #02131e;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

h1{
    font-family: var(--main-font-ubuntu);
    font-size: 20pt;
    font-weight: 700;
}

h2{
    font-family: var(--main-font-lato);
    font-size: 18pt;
    font-weight: 400;
}

p{
    font-family: var(--main-font-lato);
    font-size: 12pt;
    font-weight: 300;
}

.Outlet{
    width: 100%;
    margin: auto;
}

.Footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: 2em;

}